body{
    margin: 0;
}

header{
    background-color: #2b3245;
    width: 100%;
    height: 10%;
    position: fixed; 
    top: 0;
    box-sizing: border-box;
    margin-bottom: 94%;
}

.home ul{
    display: flex;
    justify-content: center;
    color: #ffffff;
    list-style: none;
}

.home ul a {
    margin-right: 20px;    
    text-decoration: none;  
    color: #ffffff; 
    padding: 10px;
}      

.home ul a:hover{
    background-color: #354864;
}

.team{
    margin-top: 4%;
    width: 100%;
    height: 350px;
    background-color: #bedeea;
    box-sizing: border-box;
}

.name{
    position: fixed;
    left: 0;
    padding-top: 100px;
    padding-left: 300px;
    width: 50%;
    margin-right: 50%;
    box-sizing: border-box;
}

.image{
    width: 50%;
    margin-left: 50%;
    box-sizing: border-box;
}

.ord{
    margin: 0;
    box-sizing: border-box;
}

.footer{
    margin-left: 50px;
}


.others{
    margin-top: 4%;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #bedeea;
    box-sizing: border-box;
}

.all{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.one{
    text-align: center;
    width: 48%;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding-left: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    box-sizing: border-box;
}

.one img{
    width: 80%;
}

.map{
    width: 90%;
    margin: auto;
    padding-bottom: 3px;
    background-color: #ffffff;
    border-radius: 8px;
    box-sizing: border-box;
}